{% extends 'marea/layout.html' %}
{% load static %}


{% block content %}
    <h1 class="mb-5">solar list</h1>
    
    <table class="table table-hover shadow-lg">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% if solarsystem_list %}
                {% for solar in solarsystem_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>    
                            <a href="{% url 'solar:planet_list' %}">
                                {{ solar.name }}
                            </a>
                        </td>
                        
                        
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">There are no solar systems</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    {% include 'marea/pagination.html' %}
{% endblock content %}
